<a href="https://colab.research.google.com/github/arbazsherief/Query-Processing/blob/main/Exp12_black_bg_and_yellow_font.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
data = np.random.randn(10, 4)
df = pd.DataFrame(data, columns=['Column1', 'Column2', 'Column3', 'Column4'])
styled_df = df.style.set_properties(**{'background-color': 'black', 'color': 'yellow'})
styled_df